build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CTestTestfile.cmake
build/DartConfiguration.tcl
build/Makefile
build/whisper-config.cmake
build/whisper-version.cmake
build/whisper.pc
build/.cmake/api/v1/query/client-vscode/query.json
build/.cmake/api/v1/reply/cache-v2-53b1b11e70f815b0a35c.json
build/.cmake/api/v1/reply/cmakeFiles-v1-670ee878f7f15f10d0d6.json
build/.cmake/api/v1/reply/codemodel-v2-0e7482e9262975b8726f.json
build/.cmake/api/v1/reply/directory-.-Debug-d4d4d98fb105e657414d.json
build/.cmake/api/v1/reply/directory-examples-Debug-1c8b83b621b6ef38a245.json
build/.cmake/api/v1/reply/directory-examples.bench-Debug-08e3f8d0d4c876088386.json
build/.cmake/api/v1/reply/directory-examples.cli-Debug-29608cafd1e4d31d659c.json
build/.cmake/api/v1/reply/directory-examples.deprecation-warning-Debug-1f2ac5cfd01832786b28.json
build/.cmake/api/v1/reply/directory-examples.quantize-Debug-c0610258b6e444dc7daf.json
build/.cmake/api/v1/reply/directory-examples.server-Debug-3eba124ca6bd83c18be7.json
build/.cmake/api/v1/reply/directory-examples.vad-speech-segments-Debug-b097fee7d1b9b72767d7.json
build/.cmake/api/v1/reply/directory-ggml-Debug-554803c38bbe653e1a69.json
build/.cmake/api/v1/reply/directory-ggml.src-Debug-abe4b845ba56d43d7826.json
build/.cmake/api/v1/reply/directory-ggml.src.ggml-blas-Debug-17daa41afd1d719a1967.json
build/.cmake/api/v1/reply/directory-ggml.src.ggml-cpu-Debug-50fc7220a549c81a9a90.json
build/.cmake/api/v1/reply/directory-ggml.src.ggml-metal-Debug-1e0864821d8233a71ed9.json
build/.cmake/api/v1/reply/directory-src-Debug-b6cf2213fc5053b67c22.json
build/.cmake/api/v1/reply/directory-tests-Debug-b01f6abb0ab61427ef3b.json
build/.cmake/api/v1/reply/index-2025-08-20T23-41-11-0688.json
build/.cmake/api/v1/reply/target-bench-Debug-255702869c3ad23e79bb.json
build/.cmake/api/v1/reply/target-common-Debug-17090e4c4438ae6bfc91.json
build/.cmake/api/v1/reply/target-Continuous-Debug-3ac5a1832594c8fe1bcf.json
build/.cmake/api/v1/reply/target-ContinuousBuild-Debug-8942f380dd4c6c8fbd94.json
build/.cmake/api/v1/reply/target-ContinuousConfigure-Debug-e3440c6c9a4abc114601.json
build/.cmake/api/v1/reply/target-ContinuousCoverage-Debug-5b0ddc79424caf7dba14.json
build/.cmake/api/v1/reply/target-ContinuousMemCheck-Debug-2c510d645d84fcab8f40.json
build/.cmake/api/v1/reply/target-ContinuousStart-Debug-5e3bb44630ce3e6b4271.json
build/.cmake/api/v1/reply/target-ContinuousSubmit-Debug-c40fa4143fa155286b8d.json
build/.cmake/api/v1/reply/target-ContinuousTest-Debug-13c9c0217632754b6193.json
build/.cmake/api/v1/reply/target-ContinuousUpdate-Debug-6ab4de2b9452f9d05397.json
build/.cmake/api/v1/reply/target-Experimental-Debug-ca230f40495b98e33a6e.json
build/.cmake/api/v1/reply/target-ExperimentalBuild-Debug-1f5c30f150cd30b16b07.json
build/.cmake/api/v1/reply/target-ExperimentalConfigure-Debug-4fe98462739850e63e6f.json
build/.cmake/api/v1/reply/target-ExperimentalCoverage-Debug-06d1ef93547788d98c7c.json
build/.cmake/api/v1/reply/target-ExperimentalMemCheck-Debug-c0466e3e8714da19f80c.json
build/.cmake/api/v1/reply/target-ExperimentalStart-Debug-2405d7aa76dab2fd0ec2.json
build/.cmake/api/v1/reply/target-ExperimentalSubmit-Debug-c15e72dff7e4bb3f5d78.json
build/.cmake/api/v1/reply/target-ExperimentalTest-Debug-2a7e390a90368db5bb80.json
build/.cmake/api/v1/reply/target-ExperimentalUpdate-Debug-7453d172a443e013e69f.json
build/.cmake/api/v1/reply/target-ggml-base-Debug-53026ea5463a090fffc5.json
build/.cmake/api/v1/reply/target-ggml-blas-Debug-9f7c9f856ad76a7d9d95.json
build/.cmake/api/v1/reply/target-ggml-cpu-Debug-7edfadb6f5b44cd32b0d.json
build/.cmake/api/v1/reply/target-ggml-Debug-f7139f3e8197e0d1e65d.json
build/.cmake/api/v1/reply/target-ggml-metal-Debug-b2b05701b9f79b71369c.json
build/.cmake/api/v1/reply/target-main-Debug-a4526bd326b9d75cb9bd.json
build/.cmake/api/v1/reply/target-Nightly-Debug-0658fda9362939bc5baf.json
build/.cmake/api/v1/reply/target-NightlyBuild-Debug-b8d6d29b3a0abe80c132.json
build/.cmake/api/v1/reply/target-NightlyConfigure-Debug-550654c79d8779ed480f.json
build/.cmake/api/v1/reply/target-NightlyCoverage-Debug-ca0a97441f8dd65674b7.json
build/.cmake/api/v1/reply/target-NightlyMemCheck-Debug-5319e9525dd954386a0d.json
build/.cmake/api/v1/reply/target-NightlyMemoryCheck-Debug-1b886f7f5d917ac40930.json
build/.cmake/api/v1/reply/target-NightlyStart-Debug-6c0e71782e045a580ba8.json
build/.cmake/api/v1/reply/target-NightlySubmit-Debug-a65f2bbf5cb1ed831381.json
build/.cmake/api/v1/reply/target-NightlyTest-Debug-b0d2ce4c9de27b5141da.json
build/.cmake/api/v1/reply/target-NightlyUpdate-Debug-25b3ed55228aee0e30ec.json
build/.cmake/api/v1/reply/target-quantize-Debug-d3420d5a6bd8fb47857d.json
build/.cmake/api/v1/reply/target-test-vad-Debug-6ae6c8fa41a39d02a767.json
build/.cmake/api/v1/reply/target-test-vad-full-Debug-a9f886d0eb36b53ac624.json
build/.cmake/api/v1/reply/target-vad-speech-segments-Debug-31896f17d4bcd2b7456c.json
build/.cmake/api/v1/reply/target-whisper-bench-Debug-a9c40a2f072028470e96.json
build/.cmake/api/v1/reply/target-whisper-cli-Debug-22260781444e647323cd.json
build/.cmake/api/v1/reply/target-whisper-Debug-f3e113c07019db551400.json
build/.cmake/api/v1/reply/target-whisper-server-Debug-6b2750a79d9d1daa019e.json
build/.cmake/api/v1/reply/toolchains-v1-b16ca8043c5e41f3f05d.json
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/CMakeDirectoryInformation.cmake
build/CMakeFiles/CMakeRuleHashes.txt
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/CMakeFiles/3.27.7/CMakeASMCompiler.cmake
build/CMakeFiles/3.27.7/CMakeCCompiler.cmake
build/CMakeFiles/3.27.7/CMakeCXXCompiler.cmake
build/CMakeFiles/3.27.7/CMakeDetermineCompilerABI_C.bin
build/CMakeFiles/3.27.7/CMakeDetermineCompilerABI_CXX.bin
build/CMakeFiles/3.27.7/CMakeSystem.cmake
build/CMakeFiles/3.27.7/CompilerIdC/CMakeCCompilerId.c
build/CMakeFiles/3.27.7/CompilerIdC/CMakeCCompilerId.o
build/CMakeFiles/3.27.7/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/3.27.7/CompilerIdCXX/CMakeCXXCompilerId.o
build/CMakeFiles/Continuous.dir/build.make
build/CMakeFiles/Continuous.dir/cmake_clean.cmake
build/CMakeFiles/Continuous.dir/compiler_depend.make
build/CMakeFiles/Continuous.dir/compiler_depend.ts
build/CMakeFiles/Continuous.dir/DependInfo.cmake
build/CMakeFiles/Continuous.dir/progress.make
build/CMakeFiles/ContinuousBuild.dir/build.make
build/CMakeFiles/ContinuousBuild.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousBuild.dir/compiler_depend.make
build/CMakeFiles/ContinuousBuild.dir/compiler_depend.ts
build/CMakeFiles/ContinuousBuild.dir/DependInfo.cmake
build/CMakeFiles/ContinuousBuild.dir/progress.make
build/CMakeFiles/ContinuousConfigure.dir/build.make
build/CMakeFiles/ContinuousConfigure.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousConfigure.dir/compiler_depend.make
build/CMakeFiles/ContinuousConfigure.dir/compiler_depend.ts
build/CMakeFiles/ContinuousConfigure.dir/DependInfo.cmake
build/CMakeFiles/ContinuousConfigure.dir/progress.make
build/CMakeFiles/ContinuousCoverage.dir/build.make
build/CMakeFiles/ContinuousCoverage.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousCoverage.dir/compiler_depend.make
build/CMakeFiles/ContinuousCoverage.dir/compiler_depend.ts
build/CMakeFiles/ContinuousCoverage.dir/DependInfo.cmake
build/CMakeFiles/ContinuousCoverage.dir/progress.make
build/CMakeFiles/ContinuousMemCheck.dir/build.make
build/CMakeFiles/ContinuousMemCheck.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousMemCheck.dir/compiler_depend.make
build/CMakeFiles/ContinuousMemCheck.dir/compiler_depend.ts
build/CMakeFiles/ContinuousMemCheck.dir/DependInfo.cmake
build/CMakeFiles/ContinuousMemCheck.dir/progress.make
build/CMakeFiles/ContinuousStart.dir/build.make
build/CMakeFiles/ContinuousStart.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousStart.dir/compiler_depend.make
build/CMakeFiles/ContinuousStart.dir/compiler_depend.ts
build/CMakeFiles/ContinuousStart.dir/DependInfo.cmake
build/CMakeFiles/ContinuousStart.dir/progress.make
build/CMakeFiles/ContinuousSubmit.dir/build.make
build/CMakeFiles/ContinuousSubmit.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousSubmit.dir/compiler_depend.make
build/CMakeFiles/ContinuousSubmit.dir/compiler_depend.ts
build/CMakeFiles/ContinuousSubmit.dir/DependInfo.cmake
build/CMakeFiles/ContinuousSubmit.dir/progress.make
build/CMakeFiles/ContinuousTest.dir/build.make
build/CMakeFiles/ContinuousTest.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousTest.dir/compiler_depend.make
build/CMakeFiles/ContinuousTest.dir/compiler_depend.ts
build/CMakeFiles/ContinuousTest.dir/DependInfo.cmake
build/CMakeFiles/ContinuousTest.dir/progress.make
build/CMakeFiles/ContinuousUpdate.dir/build.make
build/CMakeFiles/ContinuousUpdate.dir/cmake_clean.cmake
build/CMakeFiles/ContinuousUpdate.dir/compiler_depend.make
build/CMakeFiles/ContinuousUpdate.dir/compiler_depend.ts
build/CMakeFiles/ContinuousUpdate.dir/DependInfo.cmake
build/CMakeFiles/ContinuousUpdate.dir/progress.make
build/CMakeFiles/Experimental.dir/build.make
build/CMakeFiles/Experimental.dir/cmake_clean.cmake
build/CMakeFiles/Experimental.dir/compiler_depend.make
build/CMakeFiles/Experimental.dir/compiler_depend.ts
build/CMakeFiles/Experimental.dir/DependInfo.cmake
build/CMakeFiles/Experimental.dir/progress.make
build/CMakeFiles/ExperimentalBuild.dir/build.make
build/CMakeFiles/ExperimentalBuild.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalBuild.dir/compiler_depend.make
build/CMakeFiles/ExperimentalBuild.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalBuild.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalBuild.dir/progress.make
build/CMakeFiles/ExperimentalConfigure.dir/build.make
build/CMakeFiles/ExperimentalConfigure.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalConfigure.dir/compiler_depend.make
build/CMakeFiles/ExperimentalConfigure.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalConfigure.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalConfigure.dir/progress.make
build/CMakeFiles/ExperimentalCoverage.dir/build.make
build/CMakeFiles/ExperimentalCoverage.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalCoverage.dir/compiler_depend.make
build/CMakeFiles/ExperimentalCoverage.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalCoverage.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalCoverage.dir/progress.make
build/CMakeFiles/ExperimentalMemCheck.dir/build.make
build/CMakeFiles/ExperimentalMemCheck.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalMemCheck.dir/compiler_depend.make
build/CMakeFiles/ExperimentalMemCheck.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalMemCheck.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalMemCheck.dir/progress.make
build/CMakeFiles/ExperimentalStart.dir/build.make
build/CMakeFiles/ExperimentalStart.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalStart.dir/compiler_depend.make
build/CMakeFiles/ExperimentalStart.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalStart.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalStart.dir/progress.make
build/CMakeFiles/ExperimentalSubmit.dir/build.make
build/CMakeFiles/ExperimentalSubmit.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalSubmit.dir/compiler_depend.make
build/CMakeFiles/ExperimentalSubmit.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalSubmit.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalSubmit.dir/progress.make
build/CMakeFiles/ExperimentalTest.dir/build.make
build/CMakeFiles/ExperimentalTest.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalTest.dir/compiler_depend.make
build/CMakeFiles/ExperimentalTest.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalTest.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalTest.dir/progress.make
build/CMakeFiles/ExperimentalUpdate.dir/build.make
build/CMakeFiles/ExperimentalUpdate.dir/cmake_clean.cmake
build/CMakeFiles/ExperimentalUpdate.dir/compiler_depend.make
build/CMakeFiles/ExperimentalUpdate.dir/compiler_depend.ts
build/CMakeFiles/ExperimentalUpdate.dir/DependInfo.cmake
build/CMakeFiles/ExperimentalUpdate.dir/progress.make
build/CMakeFiles/Nightly.dir/build.make
build/CMakeFiles/Nightly.dir/cmake_clean.cmake
build/CMakeFiles/Nightly.dir/compiler_depend.make
build/CMakeFiles/Nightly.dir/compiler_depend.ts
build/CMakeFiles/Nightly.dir/DependInfo.cmake
build/CMakeFiles/Nightly.dir/progress.make
build/CMakeFiles/NightlyBuild.dir/build.make
build/CMakeFiles/NightlyBuild.dir/cmake_clean.cmake
build/CMakeFiles/NightlyBuild.dir/compiler_depend.make
build/CMakeFiles/NightlyBuild.dir/compiler_depend.ts
build/CMakeFiles/NightlyBuild.dir/DependInfo.cmake
build/CMakeFiles/NightlyBuild.dir/progress.make
build/CMakeFiles/NightlyConfigure.dir/build.make
build/CMakeFiles/NightlyConfigure.dir/cmake_clean.cmake
build/CMakeFiles/NightlyConfigure.dir/compiler_depend.make
build/CMakeFiles/NightlyConfigure.dir/compiler_depend.ts
build/CMakeFiles/NightlyConfigure.dir/DependInfo.cmake
build/CMakeFiles/NightlyConfigure.dir/progress.make
build/CMakeFiles/NightlyCoverage.dir/build.make
build/CMakeFiles/NightlyCoverage.dir/cmake_clean.cmake
build/CMakeFiles/NightlyCoverage.dir/compiler_depend.make
build/CMakeFiles/NightlyCoverage.dir/compiler_depend.ts
build/CMakeFiles/NightlyCoverage.dir/DependInfo.cmake
build/CMakeFiles/NightlyCoverage.dir/progress.make
build/CMakeFiles/NightlyMemCheck.dir/build.make
build/CMakeFiles/NightlyMemCheck.dir/cmake_clean.cmake
build/CMakeFiles/NightlyMemCheck.dir/compiler_depend.make
build/CMakeFiles/NightlyMemCheck.dir/compiler_depend.ts
build/CMakeFiles/NightlyMemCheck.dir/DependInfo.cmake
build/CMakeFiles/NightlyMemCheck.dir/progress.make
build/CMakeFiles/NightlyMemoryCheck.dir/build.make
build/CMakeFiles/NightlyMemoryCheck.dir/cmake_clean.cmake
build/CMakeFiles/NightlyMemoryCheck.dir/compiler_depend.make
build/CMakeFiles/NightlyMemoryCheck.dir/compiler_depend.ts
build/CMakeFiles/NightlyMemoryCheck.dir/DependInfo.cmake
build/CMakeFiles/NightlyMemoryCheck.dir/progress.make
build/CMakeFiles/NightlyStart.dir/build.make
build/CMakeFiles/NightlyStart.dir/cmake_clean.cmake
build/CMakeFiles/NightlyStart.dir/compiler_depend.make
build/CMakeFiles/NightlyStart.dir/compiler_depend.ts
build/CMakeFiles/NightlyStart.dir/DependInfo.cmake
build/CMakeFiles/NightlyStart.dir/progress.make
build/CMakeFiles/NightlySubmit.dir/build.make
build/CMakeFiles/NightlySubmit.dir/cmake_clean.cmake
build/CMakeFiles/NightlySubmit.dir/compiler_depend.make
build/CMakeFiles/NightlySubmit.dir/compiler_depend.ts
build/CMakeFiles/NightlySubmit.dir/DependInfo.cmake
build/CMakeFiles/NightlySubmit.dir/progress.make
build/CMakeFiles/NightlyTest.dir/build.make
build/CMakeFiles/NightlyTest.dir/cmake_clean.cmake
build/CMakeFiles/NightlyTest.dir/compiler_depend.make
build/CMakeFiles/NightlyTest.dir/compiler_depend.ts
build/CMakeFiles/NightlyTest.dir/DependInfo.cmake
build/CMakeFiles/NightlyTest.dir/progress.make
build/CMakeFiles/NightlyUpdate.dir/build.make
build/CMakeFiles/NightlyUpdate.dir/cmake_clean.cmake
build/CMakeFiles/NightlyUpdate.dir/compiler_depend.make
build/CMakeFiles/NightlyUpdate.dir/compiler_depend.ts
build/CMakeFiles/NightlyUpdate.dir/DependInfo.cmake
build/CMakeFiles/NightlyUpdate.dir/progress.make
build/Testing/TAG
build/Testing/20250820-2341/Test.xml
build/Testing/Temporary/LastTest_20250820-2341.log
build/bin/ggml-common.h
build/bin/ggml-metal-impl.h
build/bin/ggml-metal.metal
build/examples/cmake_install.cmake
build/examples/CTestTestfile.cmake
build/examples/Makefile
build/examples/CMakeFiles/CMakeDirectoryInformation.cmake
build/examples/CMakeFiles/progress.marks
build/examples/CMakeFiles/common.dir/build.make
build/examples/CMakeFiles/common.dir/cmake_clean_target.cmake
build/examples/CMakeFiles/common.dir/cmake_clean.cmake
build/examples/CMakeFiles/common.dir/compiler_depend.make
build/examples/CMakeFiles/common.dir/compiler_depend.ts
build/examples/CMakeFiles/common.dir/depend.make
build/examples/CMakeFiles/common.dir/DependInfo.cmake
build/examples/CMakeFiles/common.dir/flags.make
build/examples/CMakeFiles/common.dir/link.txt
build/examples/CMakeFiles/common.dir/progress.make
build/examples/bench/cmake_install.cmake
build/examples/bench/CTestTestfile.cmake
build/examples/bench/Makefile
build/examples/bench/CMakeFiles/CMakeDirectoryInformation.cmake
build/examples/bench/CMakeFiles/progress.marks
build/examples/bench/CMakeFiles/whisper-bench.dir/build.make
build/examples/bench/CMakeFiles/whisper-bench.dir/cmake_clean.cmake
build/examples/bench/CMakeFiles/whisper-bench.dir/compiler_depend.make
build/examples/bench/CMakeFiles/whisper-bench.dir/compiler_depend.ts
build/examples/bench/CMakeFiles/whisper-bench.dir/depend.make
build/examples/bench/CMakeFiles/whisper-bench.dir/DependInfo.cmake
build/examples/bench/CMakeFiles/whisper-bench.dir/flags.make
build/examples/bench/CMakeFiles/whisper-bench.dir/link.txt
build/examples/bench/CMakeFiles/whisper-bench.dir/progress.make
build/examples/cli/cmake_install.cmake
build/examples/cli/CTestTestfile.cmake
build/examples/cli/Makefile
build/examples/cli/CMakeFiles/CMakeDirectoryInformation.cmake
build/examples/cli/CMakeFiles/progress.marks
build/examples/cli/CMakeFiles/whisper-cli.dir/build.make
build/examples/cli/CMakeFiles/whisper-cli.dir/cmake_clean.cmake
build/examples/cli/CMakeFiles/whisper-cli.dir/compiler_depend.make
build/examples/cli/CMakeFiles/whisper-cli.dir/compiler_depend.ts
build/examples/cli/CMakeFiles/whisper-cli.dir/depend.make
build/examples/cli/CMakeFiles/whisper-cli.dir/DependInfo.cmake
build/examples/cli/CMakeFiles/whisper-cli.dir/flags.make
build/examples/cli/CMakeFiles/whisper-cli.dir/link.txt
build/examples/cli/CMakeFiles/whisper-cli.dir/progress.make
build/examples/deprecation-warning/cmake_install.cmake
build/examples/deprecation-warning/CTestTestfile.cmake
build/examples/deprecation-warning/Makefile
build/examples/deprecation-warning/CMakeFiles/CMakeDirectoryInformation.cmake
build/examples/deprecation-warning/CMakeFiles/progress.marks
build/examples/deprecation-warning/CMakeFiles/bench.dir/build.make
build/examples/deprecation-warning/CMakeFiles/bench.dir/cmake_clean.cmake
build/examples/deprecation-warning/CMakeFiles/bench.dir/compiler_depend.make
build/examples/deprecation-warning/CMakeFiles/bench.dir/compiler_depend.ts
build/examples/deprecation-warning/CMakeFiles/bench.dir/depend.make
build/examples/deprecation-warning/CMakeFiles/bench.dir/DependInfo.cmake
build/examples/deprecation-warning/CMakeFiles/bench.dir/flags.make
build/examples/deprecation-warning/CMakeFiles/bench.dir/link.txt
build/examples/deprecation-warning/CMakeFiles/bench.dir/progress.make
build/examples/deprecation-warning/CMakeFiles/main.dir/build.make
build/examples/deprecation-warning/CMakeFiles/main.dir/cmake_clean.cmake
build/examples/deprecation-warning/CMakeFiles/main.dir/compiler_depend.make
build/examples/deprecation-warning/CMakeFiles/main.dir/compiler_depend.ts
build/examples/deprecation-warning/CMakeFiles/main.dir/depend.make
build/examples/deprecation-warning/CMakeFiles/main.dir/DependInfo.cmake
build/examples/deprecation-warning/CMakeFiles/main.dir/flags.make
build/examples/deprecation-warning/CMakeFiles/main.dir/link.txt
build/examples/deprecation-warning/CMakeFiles/main.dir/progress.make
build/examples/quantize/cmake_install.cmake
build/examples/quantize/CTestTestfile.cmake
build/examples/quantize/Makefile
build/examples/quantize/CMakeFiles/CMakeDirectoryInformation.cmake
build/examples/quantize/CMakeFiles/progress.marks
build/examples/quantize/CMakeFiles/quantize.dir/build.make
build/examples/quantize/CMakeFiles/quantize.dir/cmake_clean.cmake
build/examples/quantize/CMakeFiles/quantize.dir/compiler_depend.make
build/examples/quantize/CMakeFiles/quantize.dir/compiler_depend.ts
build/examples/quantize/CMakeFiles/quantize.dir/depend.make
build/examples/quantize/CMakeFiles/quantize.dir/DependInfo.cmake
build/examples/quantize/CMakeFiles/quantize.dir/flags.make
build/examples/quantize/CMakeFiles/quantize.dir/link.txt
build/examples/quantize/CMakeFiles/quantize.dir/progress.make
build/examples/server/cmake_install.cmake
build/examples/server/CTestTestfile.cmake
build/examples/server/Makefile
build/examples/server/CMakeFiles/CMakeDirectoryInformation.cmake
build/examples/server/CMakeFiles/progress.marks
build/examples/server/CMakeFiles/whisper-server.dir/build.make
build/examples/server/CMakeFiles/whisper-server.dir/cmake_clean.cmake
build/examples/server/CMakeFiles/whisper-server.dir/compiler_depend.make
build/examples/server/CMakeFiles/whisper-server.dir/compiler_depend.ts
build/examples/server/CMakeFiles/whisper-server.dir/depend.make
build/examples/server/CMakeFiles/whisper-server.dir/DependInfo.cmake
build/examples/server/CMakeFiles/whisper-server.dir/flags.make
build/examples/server/CMakeFiles/whisper-server.dir/link.txt
build/examples/server/CMakeFiles/whisper-server.dir/progress.make
build/examples/vad-speech-segments/cmake_install.cmake
build/examples/vad-speech-segments/CTestTestfile.cmake
build/examples/vad-speech-segments/Makefile
build/examples/vad-speech-segments/CMakeFiles/CMakeDirectoryInformation.cmake
build/examples/vad-speech-segments/CMakeFiles/progress.marks
build/examples/vad-speech-segments/CMakeFiles/vad-speech-segments.dir/build.make
build/examples/vad-speech-segments/CMakeFiles/vad-speech-segments.dir/cmake_clean.cmake
build/examples/vad-speech-segments/CMakeFiles/vad-speech-segments.dir/compiler_depend.make
build/examples/vad-speech-segments/CMakeFiles/vad-speech-segments.dir/compiler_depend.ts
build/examples/vad-speech-segments/CMakeFiles/vad-speech-segments.dir/depend.make
build/examples/vad-speech-segments/CMakeFiles/vad-speech-segments.dir/DependInfo.cmake
build/examples/vad-speech-segments/CMakeFiles/vad-speech-segments.dir/flags.make
build/examples/vad-speech-segments/CMakeFiles/vad-speech-segments.dir/link.txt
build/examples/vad-speech-segments/CMakeFiles/vad-speech-segments.dir/progress.make
build/ggml/cmake_install.cmake
build/ggml/ggml-config.cmake
build/ggml/ggml-version.cmake
build/ggml/Makefile
build/ggml/CMakeFiles/CMakeDirectoryInformation.cmake
build/ggml/CMakeFiles/progress.marks
build/ggml/src/cmake_install.cmake
build/ggml/src/Makefile
build/ggml/src/CMakeFiles/CMakeDirectoryInformation.cmake
build/ggml/src/CMakeFiles/progress.marks
build/ggml/src/CMakeFiles/ggml-base.dir/build.make
build/ggml/src/CMakeFiles/ggml-base.dir/cmake_clean.cmake
build/ggml/src/CMakeFiles/ggml-base.dir/compiler_depend.make
build/ggml/src/CMakeFiles/ggml-base.dir/compiler_depend.ts
build/ggml/src/CMakeFiles/ggml-base.dir/depend.make
build/ggml/src/CMakeFiles/ggml-base.dir/DependInfo.cmake
build/ggml/src/CMakeFiles/ggml-base.dir/flags.make
build/ggml/src/CMakeFiles/ggml-base.dir/link.txt
build/ggml/src/CMakeFiles/ggml-base.dir/progress.make
build/ggml/src/CMakeFiles/ggml-cpu.dir/build.make
build/ggml/src/CMakeFiles/ggml-cpu.dir/cmake_clean.cmake
build/ggml/src/CMakeFiles/ggml-cpu.dir/compiler_depend.make
build/ggml/src/CMakeFiles/ggml-cpu.dir/compiler_depend.ts
build/ggml/src/CMakeFiles/ggml-cpu.dir/depend.make
build/ggml/src/CMakeFiles/ggml-cpu.dir/DependInfo.cmake
build/ggml/src/CMakeFiles/ggml-cpu.dir/flags.make
build/ggml/src/CMakeFiles/ggml-cpu.dir/link.txt
build/ggml/src/CMakeFiles/ggml-cpu.dir/progress.make
build/ggml/src/CMakeFiles/ggml.dir/build.make
build/ggml/src/CMakeFiles/ggml.dir/cmake_clean.cmake
build/ggml/src/CMakeFiles/ggml.dir/compiler_depend.make
build/ggml/src/CMakeFiles/ggml.dir/compiler_depend.ts
build/ggml/src/CMakeFiles/ggml.dir/depend.make
build/ggml/src/CMakeFiles/ggml.dir/DependInfo.cmake
build/ggml/src/CMakeFiles/ggml.dir/flags.make
build/ggml/src/CMakeFiles/ggml.dir/link.txt
build/ggml/src/CMakeFiles/ggml.dir/progress.make
build/ggml/src/ggml-blas/cmake_install.cmake
build/ggml/src/ggml-blas/Makefile
build/ggml/src/ggml-blas/CMakeFiles/CMakeDirectoryInformation.cmake
build/ggml/src/ggml-blas/CMakeFiles/progress.marks
build/ggml/src/ggml-blas/CMakeFiles/ggml-blas.dir/build.make
build/ggml/src/ggml-blas/CMakeFiles/ggml-blas.dir/cmake_clean.cmake
build/ggml/src/ggml-blas/CMakeFiles/ggml-blas.dir/compiler_depend.make
build/ggml/src/ggml-blas/CMakeFiles/ggml-blas.dir/compiler_depend.ts
build/ggml/src/ggml-blas/CMakeFiles/ggml-blas.dir/depend.make
build/ggml/src/ggml-blas/CMakeFiles/ggml-blas.dir/DependInfo.cmake
build/ggml/src/ggml-blas/CMakeFiles/ggml-blas.dir/flags.make
build/ggml/src/ggml-blas/CMakeFiles/ggml-blas.dir/link.txt
build/ggml/src/ggml-blas/CMakeFiles/ggml-blas.dir/progress.make
build/ggml/src/ggml-cpu/cmake_install.cmake
build/ggml/src/ggml-cpu/Makefile
build/ggml/src/ggml-cpu/CMakeFiles/CMakeDirectoryInformation.cmake
build/ggml/src/ggml-cpu/CMakeFiles/progress.marks
build/ggml/src/ggml-metal/cmake_install.cmake
build/ggml/src/ggml-metal/Makefile
build/ggml/src/ggml-metal/CMakeFiles/CMakeDirectoryInformation.cmake
build/ggml/src/ggml-metal/CMakeFiles/progress.marks
build/ggml/src/ggml-metal/CMakeFiles/ggml-metal.dir/build.make
build/ggml/src/ggml-metal/CMakeFiles/ggml-metal.dir/cmake_clean.cmake
build/ggml/src/ggml-metal/CMakeFiles/ggml-metal.dir/compiler_depend.make
build/ggml/src/ggml-metal/CMakeFiles/ggml-metal.dir/compiler_depend.ts
build/ggml/src/ggml-metal/CMakeFiles/ggml-metal.dir/depend.make
build/ggml/src/ggml-metal/CMakeFiles/ggml-metal.dir/DependInfo.cmake
build/ggml/src/ggml-metal/CMakeFiles/ggml-metal.dir/flags.make
build/ggml/src/ggml-metal/CMakeFiles/ggml-metal.dir/link.txt
build/ggml/src/ggml-metal/CMakeFiles/ggml-metal.dir/progress.make
build/src/cmake_install.cmake
build/src/Makefile
build/src/CMakeFiles/CMakeDirectoryInformation.cmake
build/src/CMakeFiles/progress.marks
build/src/CMakeFiles/whisper.dir/build.make
build/src/CMakeFiles/whisper.dir/cmake_clean.cmake
build/src/CMakeFiles/whisper.dir/compiler_depend.make
build/src/CMakeFiles/whisper.dir/compiler_depend.ts
build/src/CMakeFiles/whisper.dir/depend.make
build/src/CMakeFiles/whisper.dir/DependInfo.cmake
build/src/CMakeFiles/whisper.dir/flags.make
build/src/CMakeFiles/whisper.dir/link.txt
build/src/CMakeFiles/whisper.dir/progress.make
build/tests/cmake_install.cmake
build/tests/CTestTestfile.cmake
build/tests/Makefile
build/tests/CMakeFiles/CMakeDirectoryInformation.cmake
build/tests/CMakeFiles/progress.marks
build/tests/CMakeFiles/test-vad-full.dir/build.make
build/tests/CMakeFiles/test-vad-full.dir/cmake_clean.cmake
build/tests/CMakeFiles/test-vad-full.dir/compiler_depend.make
build/tests/CMakeFiles/test-vad-full.dir/compiler_depend.ts
build/tests/CMakeFiles/test-vad-full.dir/depend.make
build/tests/CMakeFiles/test-vad-full.dir/DependInfo.cmake
build/tests/CMakeFiles/test-vad-full.dir/flags.make
build/tests/CMakeFiles/test-vad-full.dir/link.txt
build/tests/CMakeFiles/test-vad-full.dir/progress.make
build/tests/CMakeFiles/test-vad.dir/build.make
build/tests/CMakeFiles/test-vad.dir/cmake_clean.cmake
build/tests/CMakeFiles/test-vad.dir/compiler_depend.make
build/tests/CMakeFiles/test-vad.dir/compiler_depend.ts
build/tests/CMakeFiles/test-vad.dir/depend.make
build/tests/CMakeFiles/test-vad.dir/DependInfo.cmake
build/tests/CMakeFiles/test-vad.dir/flags.make
build/tests/CMakeFiles/test-vad.dir/link.txt
build/tests/CMakeFiles/test-vad.dir/progress.make
live-whisper-transcriber/transcriber/__pycache__/whisper_cpp_runner.cpython-39.pyc
live-whisper-transcriber/transcriber/__pycache__/__init__.cpython-39.pyc
